<li class="current">
<a href="{{ path('adminPages') }}">Pages</a>
</li>
<li class="current">
<a href="{{ path('adminProduits') }}">Produits</a>
</li>
<li class="current">
<a href="{{ path('admin_categories') }}">Categories</a>
</li>
<li class="current">
    <a href="{{ path('commande_admin_index') }}">Commandes</a>
</li>
<li class="current">
    <a href="{{ path('admin_utilisateurs') }}">Clients</a>
</li>