{% extends "::layout/layout.html.twig" %}

    {% block body %}

    <div class="container">
        <div class="row">
            
                <div class="box col-12 col-12-medium imp-medium">

                    <h2>Valider mon parnier</h2>

                      <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Références</th>
                                <th>Quantité</th>
                                <th>Poids</th>
                                <th>Prix unitaire</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for produit in commande.commande.produit %}
                            <tr>
                            <td><img src="{{ asset('uploads/images/' ~ produit.image.path) }}" alt="{{ produit.image.alt }}" style="width: 100px;"></td>
                            <td>{{ produit.reference }}</td>
                            <td>
                               {{ produit.quantite }}
                            </td>
                            <td>{{ produit.poids }} g</td>
                            <td>{{ produit.prix }} €</td>
                            <td>{{ produit.prixTotale }} €</td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                <div class="col-12">
                    <div class="row">
                        <div class="validate-col">
                        
                            <dt><h4>Adresse de livraison</h4></dt>
                            <dt>{{ commande.commande.livraison.prenom }} {{ commande.commande.livraison.nom }}</dt>
                            <dt>{{ commande.commande.livraison.adresse }}</dt>
                            <dt>{{ commande.commande.livraison.cp }} {{ commande.commande.livraison.ville}} - {{ commande.commande.livraison.pays }}</dt>
                        
                        </div>

                        <div class="validate-col">
                        
                            <dt><h4>Adresse de facturation</h4></dt>
                            <dt>{{ commande.commande.facturation.prenom }} {{ commande.commande.facturation.nom }}</dt>
                            <dt>{{ commande.commande.facturation.adresse }}</dt>
                            <dt>{{ commande.commande.facturation.cp }} {{ commande.commande.facturation.ville}} - {{ commande.commande.facturation.pays }}</dt>
                        
                        </div>
                        <div class="validate-col">
                            <dt><h4>Type de commande :</h4></dt><dd>{{ commande.commande.type }}</dd>
                            <dt><h4>Total Hors livraison :</h4></dt><dd>{{ commande.commande.prixHT }}€</dd>
                        </div>
                        <div class="validate-col">
                        
                            

                            {% if commande.commande.reception == 'reservation' %}
                            <dt><h4>Remise de 10% :</h4></dt><dd>{{ commande.commande.prixlivraison }} €</dd>
                            {% endif %}
                            {% if commande.commande.reception == 'livraison' %}
                            <dt><h4>Transport :</h4></dt><dd>{{ commande.commande.prixlivraison }} €</dd>
                            {% endif %}
                    
                            <dt><h4>Total :</h4><dt><dd>{{ commande.commande.Totale }} €</dd>
                        
                        </div>

                    </div>
                </div>
    
                <div class="col-12">

                <a style="margin-top:20px;float: left;" href="{{ path('livraison') }}" class="button alt">retour à la livraison</a>

                <form  style="margin-top: 20px;float: right;" action="{{ path('validationCommande',{ id: commande.id }) }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_POX1q5zRKYatVvrjyC2cBHAi"
                    data-amount="{{ commande.commande.Totale * 100 }}"
                    data-name="Fromagerie-christophe"
                    data-description="Module de paiement"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="fr"
                    data-label="Paiement par carte bancaire"
                    data-allow-remember-me="false"
                    data-email="duhameltonyeyzo@gmail.com"
                    data-currency="eur">
                  </script>
                  <input type="hidden" name="total" value="{{ commande.commande.Totale * 100 }}">
                  <input type="hidden" name="email" value="{{ user.getEmail() }}">
                </form>
                
                </div>

         </div>
    </div>
</div>

    {% endblock %}